<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PaintSimple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2FAF696E1C9D4AF900A0BEA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FAF69871C9D4AF900A0BEA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2FAF69921C9D4AF900A0BEA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
